.PostsList {
  width: 55vw;

  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
  }

  &--last {
    width: 35vw;

    @media (min-width: 320px) and (max-width: 767px) {
      width: 100%;
    }
  }

  &__user-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: lightblue;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #fafafd;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      box-shadow: 1px 4px 16px rgba(77, 69, 123, 0.7);
    }

    @media (min-width: 320px) and (max-width: 767px) {
      padding: 10px;
    }
  }

  &__block {
    gap: 2px;
    padding-left: 40px;
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 3; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; // Добавляем троеточие вконце текста

    @media (min-width: 320px) and (max-width: 767px) {
      width: 70%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__postAutor {
    font-weight: 800;
  }

  &__ava {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    @media (min-width: 320px) and (max-width: 767px) {
      left: 10px
    }
  }

  &__post {
    width: 90%;
    flex-wrap: wrap;
  }

  &__remove-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    color: inherit;
    background-color: transparent;
    transition: color 0.12s;
    border: none;
    cursor: pointer;

    &:hover {
      color: #e9e6f2;
      background-color: transparent;
    }
  }

  &__showAll-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0;
    margin-top: 10px;
    width: 50%;
    height: max-content;
    background-color: #4d457b;
    opacity: 0.7;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #e9e6f2;
    font-size: 16px;
    align-self: flex-start;
    text-transform: uppercase;
    padding: 6px;
    cursor: pointer;
    box-shadow: 1px 4px 16px transparent;
    transition: all 0.4s ease;

    &:hover {
      box-shadow: 1px 4px 16px rgba(77, 69, 123, 0.7);
    }
  }
}
